; Config for DDJ_Master
[Constants]
workersCount = 10
jobForWorkerCount = 5000
cpuNumber = 8
[Balancer]
weightCPUMem = 1
weightGPUMem = 1
[Logging]
file = log.cfg
[Ports]
restApi = 8888              #Port user by rest api
nodeCommunication = 8080    #Port used for communication with nodes