#post-data {
    height: 200px;
    resize: none;
}

#query-result, #data-to-upload {
    height: 200px;
    overflow-y: auto;
    border: 1px solid;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

#chart {
    min-height: 400px;
    margin-top: 50px;

}

.success-result {
    color: green;
}
.error-result {
    color: red;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}